transformers>=4.57.1
datasets>=4.3.0
accelerate>=1.11.0
torch>=2.9.0
torchvision>=0.24.0
torchmetrics>=1.8.0
timm>=1.0.0
open-clip-torch>=3.2.0
faiss-cpu>=1.13.0
evaluate
scikit-learn
wandb
tensorboard
matplotlib